@font-face {

    font-family: 'Raleway-Light';    
    src: url('../fonts/Raleway-Light.eot'),
        url('../fonts/Raleway-Light.woff2') format('woff2'),
        url('../fonts/Raleway-Light.woff') format('woff'),
        url('../fonts/Raleway-Light.ttf') format('truetype'),
        url('../fonts/Raleway-Light.svg#Raleway-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-MediumItalic';
    src: url('../fonts/Raleway-MediumItalic.eot');
    src: url('../fonts/Raleway-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-MediumItalic.woff2') format('woff2'),
        url('../fonts/Raleway-MediumItalic.woff') format('woff'),
        url('../fonts/Raleway-MediumItalic.ttf') format('truetype'),
        url('../fonts/Raleway-MediumItalic.svg#Raleway-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway-LightItalic';
    src: url('../fonts/Raleway-LightItalic.eot');
    src: url('../fonts/Raleway-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-LightItalic.woff2') format('woff2'),
        url('../fonts/Raleway-LightItalic.woff') format('woff'),
        url('../fonts/Raleway-LightItalic.ttf') format('truetype'),
        url('../fonts/Raleway-LightItalic.svg#Raleway-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway-Medium';
    src: url('../fonts/Raleway-Medium.eot');
    src: url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Medium.woff2') format('woff2'),
        url('../fonts/Raleway-Medium.woff') format('woff'),
        url('../fonts/Raleway-Medium.ttf') format('truetype'),
        url('../fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay-Regular';
    src: url('../fonts/PlayfairDisplay-Regular.eot');
    src: url('../fonts/PlayfairDisplay-Regular.eot') format('embedded-opentype'),
        url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay-Regular.woff') format('woff'),
        url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype'),
        url('../fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay-BoldItalic';
    src: url('../fonts/PlayfairDisplay-BoldItalic.eot'),
        url('../fonts/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay-BoldItalic.woff') format('woff'),
        url('../fonts/PlayfairDisplay-BoldItalic.ttf') format('truetype'),
        url('../fonts/PlayfairDisplay-BoldItalic.svg#PlayfairDisplay-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'PlayfairDisplay-Bold';
    src: url('../fonts/PlayfairDisplay-Bold.eot');
    src: url('../fonts/PlayfairDisplay-Bold.eot') format('embedded-opentype'),
        url('../fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay-Bold.woff') format('woff'),
        url('../fonts/PlayfairDisplay-Bold.ttf') format('truetype'),
        url('../fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay-Italic';
    src: url('../fonts/PlayfairDisplay-Italic.eot');
    src: url('../fonts/PlayfairDisplay-Italic.eot') format('embedded-opentype'),
        url('../fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay-Italic.woff') format('woff'),
        url('../fonts/PlayfairDisplay-Italic.ttf') format('truetype'),
        url('../fonts/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

/* Design: The body font family is Raleway Light */
body {
    scroll-behavior: smooth;
    font-size: 14px; /* mobile base font size is 14px as per design specs*/
    margin: 0 auto;
    font-family: 'Raleway Light';
    background: white;
    font: #2d2d2d;
}

header {
    position: fixed;
    background: #ffffff;
    z-index: 999;
    width: 100%;
}

.menu-container {
    display: flex;
justify-content: space-between;
flex-wrap: wrap;
height:30vw;
}


/* 400x155 */
.logo{
    width: 100px;
    height: 50px;
    margin-left: 0.5em;
    order: 1;
}

.cart{
    width: 49px;
    height: 50px;
    order: 2;   
}

nav{
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    font-family: 'Raleway-Light';
    color: #e2574c;
    background: white;
    order: 3;
}

.nav-items{
    display: flex;
    justify-content: flex-start;



    width: 100%;

height: 3em;

box-sizing: border-box;

border-top: 1px
gray solid;
}

.nav-items li{
    text-decoration-line: none;
    display: flex;
    flex-direction: column;
    justify-content:center;
}


.cart-container{
    display: flex;
    width: 55px;
    height: 55px;
    margin-right: 0px;
    margin-top: 0px;
    order: 3;
}

.horizontal-line{
    height: 15px;
    order: 4;
}

/* how do I make this take up the whole width */
/* nav{
    font-family: 'Playfair-Display';
    background-color: white;
} */

/*
    1400 x 905 for the flower background
    If we do not set a height, what will be the default height?
*/
.dummy-placeholder{
    height:30vw;
}

.hero-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.75),
                                rgba(0, 0, 0, 0.25) ),
                url("../images/banner-girl.png"), /* first foreground image, appears first, foremost*/
                url("../images/flower-bkgd.jpg"); /* second background image*/ /* first image, second image */
    
                background-position: center,center,center;
                background-repeat: repeat, no-repeat, repeat;
    background-size: cover,contain,cover; /* don't know how to explain this -_- this is the background size of the above mentioned items, respectively*/ 
    height: 100vw;
    width: 100vw;
}

.hero-banner h3{
    text-align: center;
    font-size: 2.5em;
    color: white;
    font-family: "Raleway-Light";
    text-shadow: 0.5px 0.5px 0.5px #d7d7d7;
}     

.hero-banner h1{
    font-size: 2em; /* browser */
    font-family: "Playfair Display", serif;
    text-align: center;
    text-shadow: 2px 2px 4px grey;
}

/* ul and li children*/
.nav-items{
    display: flex;
    justify-content: space-around;
    /* font-family: 'Raleway-Light'; */
    /* font-family: 'Playfair Display'; */
}

.nav-items li{
    text-decoration-line: none;
}

nav li a{
    text-decoration: none;
    color: #e2574c;
}   

#about{
    box-sizing:border-box;
    padding: 3em 1em;
}

#about h2{
    text-align:center;
    font-size:1.33rem;
    margin-bottom: 1em;
}

#about em{
    font-family: 'PlayfairDisplay-Italic';
}

#about h2 strong{
    font-family: 'PlayfairDisplay-Bold';
}

#about p{
    text-align: center;
    font-family: 'Raleway-Light';
    line-height: 2.0em;
}

#shop :visited{
    color: aqua;
}

/* em{
    font-family: 'Raleway-Light';
    font-weight: 300;
    font-style: italic;
}

strong{
    font-family: 'Raleway-Light';
    font-weight: 500;
    font-style: bold;
} */

.grid-container{
    
    /*do your grid gaps (row/column) here */
}

#shop{
    display:grid;
    grid-template-columns:  repeat(2,49vw);
    grid-template-rows:     repeat(4,49vw);
    column-gap:2vw;
    row-gap:2vw;
    width: 100%;
}

.mens{
    grid-column: 1/ span 2; /*shorthand version*/
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../images/mens-category.jpg");
    background-size: 100%;
    width:100%;
    height:100%;

    background-repeat: no-repeat;
}

.trends{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../images/trends-category.jpg");
    background-size: cover;
    width:100%;
    height: 100%;
}

.glasses{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../images/glasses-category.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.sale{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../images/sale-category.jpg");
    background-size: 100%;
    height:100%;
    width:100%;
}

.bags{
    grid-column: 2/ span 1;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    
    background: url("../images/bags-category.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height:100%;
    width:100%;
}

.womens{
    grid-column: 1 / span 2;
    grid-row: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("../images/womens-category.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.products{
    font-weight: 900;
    font-size: 30px;
    border: 5px solid darkorange;
    font-family: 'PlayfairDisplay-Italic';
    font-style: italic;
    text-align: center;
    box-sizing: border-box;
    padding: 2rem 1.3rem;
}

.products h2{

}

.products em{
    font-style: italic;
    font-size: 18px;
    padding: 5px;
}

.products strong{
    font-family: 'Raleway-Light';
}

.flickity-button{
    display:none;
}


.notif{
    display: flex;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: #e2574c;
    border-radius: 50%;
    color: white;
    font-size: 14px;
    text-align: center;
    position: relative;
    right: -35px;
    top: -65px;
}

.icons{
    display: flex;
    justify-content: space-evenly;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: azure;
    background-color: #242424;
    height: 300px;
}

.address-wrapper{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15px;
    /* main axis is the y-axis */
    height: 300px;
    margin: 10px;
}

/* flex-item */
.address-wrapper :nth-child(1){
    align-self: center;
    font-family: 'Playfair Display';
    border: 1px springgreen solid;
}

/* flex-item */
.address-wrapper :nth-child(2){
    text-decoration-line: underline;
}
/* flex-item */
.address-wrapper :nth-child(3){
    color: gray;
}
/* flex-item */
.address-wrapper :nth-child(4){
    justify-items: center;
}

.address-wrapper .icons{
}

/* mobile view */



/* tablet view breakpoint at 600px and up */
@media screen and (min-width: 600px) {

    body{
        background: skyblue;
        background-color: white; /* ask why specificity not working */
        font-size: 16px; /* mobile base font size is 14px */
        margin: 0 auto;
        /* width: 100%; */
    }
    
    header{
        position: fixed;
        background: #ffffff;
        z-index: 999;
        border: blue solid;
        /* width: 100%;  */
    }
    
    .menu-container{
        background: cyan;
    }
    
    .menu-container .logo{
        order: 1;
    }

    .menu-container nav{
        order: 2;
    }
    .menu-container .cart{
        order: 3;
    }
    
    /* 400x155*/
    .logo{
        width: 100px;
        height: 50px;
        margin-left: 0.5em;
        order: 1;
    }

    nav {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        font-family: 'Raleway-Light';
        color:#e2574c;
        background:white;
        font-size: 14px;
        order: 2;
    }
    
    .cart{
        width: 50px;
        height: 48px;
        border: gold solid;
        order: 3;
    }
    
    
    hr{
        width: 5px;
        color: greenyellow;
    }
    
    /* ul */
    .nav-items{
        font-size: 16px;
        font-family: 'Raleway-Light';
        display: flex;
        justify-content: space-around;
        color: #e2574c;
        width: 60%;
        order: 2;
    } 
    
    .nav-items li{
        border: 2px greenyellow solid;
        font-size: 20px;
        font-size: larger;
        font-weight: bold;
    }

    .hero-banner{
        /* height: 100vh; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        background: linear-gradient(rgba(255, 0, 0, 0.25),
                                    rgba(0, 0, 0, 0.75)),
        url("../images/banner-girl.png"), /* first foreground image, appears first, foremost*/
        url("../images/flower-bkgd.jpg"); /* second background image*/ /* first image, second image */
        
        background-position: left, bottom, center;
        background-repeat: repeat, no-repeat, repeat;
        background-size: cover,contain,cover; /* don't know how to explain this -_- this is the background size of the above mentioned items, respectively*/ 
        height: 75vh;
        width: 100%;
    }

    .grid-container {
display: grid;
    /* tablet view starts at 600px, 600 / 4 and stretches to 1240px, 1240 / 4 */
    /* grid-template-columns: 300px 300px 300px; */
grid-template-columns: 1fr 1fr;
grid-template-rows: 235px 238px 200px;
min-width: 600px;
min-height: 100px;
background-color: grey;
/*   width: 1240px;  */
		/* width: 100%; */
/*         height: 1200px; */
	/* height: 100%; */
/* image height / 2 the height here is smaller than the native resolution of image */
		grid-column-gap: 10px;
  		grid-row-gap: 15px;
    }

    /* MEN's 1240x620 */
    .d1 {
        /* developer: your task is to make this take up two cols on the first row */
        grid-column: 1 / span 2;
        grid-row: 1 / span 2; /* start from top and span 2 rows */      
        /* background: url("../images/mens-category.jpg"); */
        background-color: crimson;
        background: url('../images/mens-category.jpg');
        background-size: 100%;
    }

    /* TRENDS */
    .d2 {
        background-color: turquoise;
        grid-column: 2/3; /* last col */
        grid-row: 2/2;
        background-size: 100%;
    }

    /* GLASSES */
    .d3{
            background-color: mediumslateblue;
            grid-column: 3/end;
            grid-row: 0/0;
            background-size: 100%;
    }
    /* SALE */
    .d4 {
            background-color: cadetblue;
            grid-column: 1/2;
            grid-row: 2/3;
            background-size: 100%;
    }
    /* BAGS */
    .d5{
        background: purple;
        grid-column: 3/4;
        grid-row: 2/3;
        background-size: 100%;

    }
    /* WOMEN's */
    .d6{
        grid-column: 2/4;
        row-column: 2/3;
        background-color: yellow;
        background-size: 100%;
    }


    .carousel-cell {
        width: 25%; /* half-width */
        height: 50px;
        margin-right: 10px;
    }
  

}

/* Desktop Breakpoint 1240px and up to stretched desktop */
@media screen and (min-width: 800px){
    body{
        background: turquoise;
    }

    header{
        position: fixed;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        background: #ffffff;
        width: 100%;
    }

    .menu-container{
        background: silver;
    }

    nav{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .nav-items{
        display: flex;
        justify-content: space-around;
    }
}

/* mobile view */
@media screen and (min-width: 1240px) {
    background: gold;
}
/* mobile styles can be more specific and that would be the reason why nothing is changing
Reason: css is more spcific, read up on spcificity.
If nothing is appearing, the reason is that the css is overwritting the desktop version or tablet view.

/* EXAMPLES

body {
  background-image: url("./path/img_tree.gif"), url("../images/paper.gif");
  background-color: #cccccc;
}

*/