@font-face {
    font-family: 'Raleway-Light';
    src: url('Raleway-Light.eot');
    src: url('Raleway-Light.eot?#iefix') format('embedded-opentype'),
        url('Raleway-Light.woff2') format('woff2'),
        url('Raleway-Light.woff') format('woff'),
        url('Raleway-Light.ttf') format('truetype'),
        url('Raleway-Light.svg#Raleway-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-Medium';
    src: url('../fonts/Raleway-Medium.eot');
    src: url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Medium.woff2') format('woff2'),
        url('../fonts/Raleway-Medium.woff') format('woff'),
        url('../fonts/Raleway-Medium.ttf') format('truetype'),
        url('../fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-LightItalic';
    src: url('Raleway-LightItalic.eot');
    src: url('Raleway-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Raleway-LightItalic.woff2') format('woff2'),
        url('Raleway-LightItalic.woff') format('woff'),
        url('Raleway-LightItalic.ttf') format('truetype'),
        url('Raleway-LightItalic.svg#Raleway-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway-MediumItalic';
    src: url('Raleway-MediumItalic.eot');
    src: url('Raleway-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Raleway-MediumItalic.woff2') format('woff2'),
        url('Raleway-MediumItalic.woff') format('woff'),
        url('Raleway-MediumItalic.ttf') format('truetype'),
        url('Raleway-MediumItalic.svg#Raleway-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

/* HEADINGS FONT FAMILY IS PLAYFAIR DISPLAY */
@font-face {
    font-family: 'PlayfairDisplay';
    src: url('PlayfairDisplay-Regular.eot');
    src: url('PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('PlayfairDisplay-Regular.woff2') format('woff2'),
        url('PlayfairDisplay-Regular.woff') format('woff'),
        url('PlayfairDisplay-Regular.ttf') format('truetype'),
        url('PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay-Bold';
    src: url('PlayfairDisplay-Bold.eot');
    src: url('PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('PlayfairDisplay-Bold.woff2') format('woff2'),
        url('PlayfairDisplay-Bold.woff') format('woff'),
        url('PlayfairDisplay-Bold.ttf') format('truetype'),
        url('PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay-BoldItalic';
    src: url('PlayfairDisplay-BoldItalic.eot');
    src: url('PlayfairDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('PlayfairDisplay-BoldItalic.woff2') format('woff2'),
        url('PlayfairDisplay-BoldItalic.woff') format('woff'),
        url('PlayfairDisplay-BoldItalic.ttf') format('truetype'),
        url('PlayfairDisplay-BoldItalic.svg#PlayfairDisplay-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'PlayfairDisplay-Italic';
    src: url('PlayfairDisplay-Italic.eot');
    src: url('PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
        url('PlayfairDisplay-Italic.woff2') format('woff2'),
        url('PlayfairDisplay-Italic.woff') format('woff'),
        url('PlayfairDisplay-Italic.ttf') format('truetype'),
        url('PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

body {
    scroll-behavior: smooth;
    font-size: 14px; /* mobile base font size is 14px as per requirements*/
    margin: 0 auto;
    font-family: 'Raleway-Light'; /* Specs: The body font family is Raleway Light */
    background: white;
    font: #2d2d2d;
    bottom: red solid 10em; /* new code July 15 */
    top: lightgreen dashed 5em; /* new July 15 */
}

header {
    position: fixed;
    background: #ffffff;
    z-index: 999;
    width: 100%;
}

.menu-container {
    /*display: flex;
    justify-content: space-between;
    flex-wrap: wrap;*/
}

.logo {
    width: 33%;
    height: 82px;
    padding: 0px 10px;
}

.cart {
    width: 5em;
    height: 4.5em;
    padding: 10px 10px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: black;
    font-size: 14px;
    width: 100%;
}

nav ul li {
    padding: 0px 10px;   
}

a:link {
    color: lightgreen;
}

a:visited {
    color: #e2574c;
}

.nav-items {
        display: flex;
        justify-content: space-around;
        font-family: 'Raleway-Light', sans-serif;
        border-style: solid;
        border-top-color: #8080807a;
        border-top-width: 0.2em;
        padding: 10px;
        font-weight: inherit;
}

.nav-items li {
    text-decoration-line: none;
    padding: 0px 15px;
}

.cart-container {
    display: flex;
    width: 55px;
    height: 55px;
    margin-right: 0px;
    margin-top: 0px;
    order: 3;
}

.horizontal-line {
    height: 15px;
    order: 4;
}

/*
    I added this in to create space between sections.
    Could not find another way to keep background image from overlaping
*/
.placeholder{
    /*height: 8em;*/
}

/* MOBILE FIRST CODE */
.hero-banner {
display: flex;
flex-direction: column;
justify-content: center;
font-family: "PlayfairDisplay", sans-serif;
background: url("../images/banner-girl.png"), url("../images/flower-bkgd.jpg");
background-repeat: no-repeat, no-repeat;
background-position: bottom,center;
background-size: 18vh,95vh,47vh,6vh;
height: 61vh;
text-align: center;
}

.hero-banner h6 {
font-size: 2.5em;
color: #0fcfbd;
text-shadow: 1.5px 3.5px 4.5px #1c1b19ad;
}

.hero-banner h1 {
    font-size: 2em; /* browser */
    font-family: "PlayfairDisplay", serif;
    text-align: center;
    text-shadow: 2px 2px 4px grey;
    color: white;
}

.nav-items li {
    text-decoration-line: none;
}

nav li a{
    text-decoration: none;
    color: #e2574c;
}

#about{
    padding: 1em 1em;
    font-style: italic;
}

#about h2{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1em;
}

#about h2 strong{
    font-family: 'PlayfairDisplay-BoldItalic';
}

#about p{
    text-align: center;
    font-family: 'Raleway-Light';
    line-height: 2.0em;
}

#shop :visited{
    color: aqua;
}

/* em{
    font-family: 'Raleway-Light';
    font-weight: 300;
    font-style: italic;
}

strong{
    font-family: 'Raleway-Light';
    font-weight: 500;
    font-style: bold;
} */

.grid-container{
    /*do your grid gaps (row/column) here */
    padding: 10px;
}

#shop{
    display:grid;
    grid-template-columns:  repeat(2,49vw);
    grid-template-rows:     repeat(4,49vw);
    column-gap:2vw;
    row-gap:2vw;
    width: 100%;
}

.mens{
    grid-column: 1/ span 2; /*shorthand version*/
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../images/mens-category.jpg");
    background-size: 100%;
    width:100%;
    height:100%;

    background-repeat: no-repeat;
}

.trends{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../images/trends-category.jpg");
    background-size: cover;
    width:100%;
    height: 100%;
}

.glasses{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../images/glasses-category.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.sale{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../images/sale-category.jpg");
    background-size: 100%;
    height:100%;
    width:100%;
}

.bags{
    grid-column: 2/ span 1;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

    background: url("../images/bags-category.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height:100%;
    width:100%;
}

.womens{
    grid-column: 1 / span 2;
    grid-row: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("../images/womens-category.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

#products{
font-size: 26px;
border: 4px solid darkturquoise;
font-family: 'PlayfairDisplay-Italic';
font-style: italic;
text-align: center;
box-sizing: border-box;
padding: 2rem 1.3rem;
height: 21em;
font-size: large;
}

.products h2{
    text-align: center;

}

.products em{
    font-style: italic;
    font-size: 18px;
    padding: 5px;
}

.products strong{
    font-family: 'Raleway-Light';
    font-style: bold;
}

/* add to cart button */
.carousel-cell button{
    color: teal;
}

#updates{
    background-image: url("../images/wave-bkgd.jpg");
    background-size: cover;
    height: 45vh;
    font-size: xx-large;
    background-repeat: no-repeat;
    text-align: center; 
}

.updates h2{}

#first-part{
    font-family: 'PlayfairDisplay-BoldItalic';
    /* You tell me why this ain't working none, no more. Ain't NAN working maine. */
}

#second-part{
    font-family: 'PlayfairDisplay-Bold';
    font-style: bold;
}

.flickity-button{
    /* display: none; */
    width: 100px;
    height: 100px;
}


.notif{
    display: flex;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: #e2574c;
    border-radius: 50%;
    color: white;
    font-size: 14px;
    text-align: center;
    position: relative;
    right: -35px;
    top: -65px;
}

.icons{
    display: flex;
    justify-content: space-evenly;
    width: 100%;

}

.icons li{
    width: 100%
    background-color: blue;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: azure;
    background-color: #242424;
    height: 15em;
}

.address-wrapper{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15px;
    /* main axis is the y-axis */
    height: 300px;
    margin: 10px;
}

/* flex-item */
.address-wrapper :nth-child(1){
    align-self: center;
    font-family: 'Playfair Display';
    border: 1px springgreen solid;
}

/* flex-item */
.address-wrapper :nth-child(2){
    text-decoration-line: underline;
}
/* flex-item */
.address-wrapper :nth-child(3){
    color: gray;
}
/* flex-item */
.address-wrapper :nth-child(4){
    justify-items: center;
}

/* tablet view breakpoint at 600px and up */
@media screen and (min-width: 600px) {

    body{
    	font-size: 16px;
        max-width: 1240px;
		grid-column-gap: 0.5em;
  		grid-row-gap: 0.5em;
    }

    /* MENS */
    .d1 {
        /* developer: your task is to make this take up two cols on the first row */
        grid-column: 1 / span 2;
        grid-row: 1 / span 2; /* start from top and span 2 rows */
        /* background: url("../images/mens-category.jpg"); */
        background-color: crimson;
        background: url('../images/mens-category.jpg');
        background-size: 100%;
    }

    /* TRENDS */
    .d2 {
        background-color: turquoise;
        grid-column: 2/3; /* last col */
        grid-row: 2/2;
        background-size: 100%;
    }

    /* GLASSES */
    .d3{
            background-color: mediumslateblue;
            grid-column: 3/end;
            grid-row: 0/0;
            background-size: 100%;
    }
    /* SALE */
    .d4 {
            background-color: cadetblue;
            grid-column: 1/2;
            grid-row: 2/3;
            background-size: 100%;
    }
    /* BAGS */
    .d5{
        background: purple;
        grid-column: 3/4;
        grid-row: 2/3;
        background-size: 100%;

    }
    /* WOMEN's */
    .d6{
        grid-column: 2/4;
        row-column: 2/3;
        background-color: yellow;
        background-size: 100%;
    }

    .carousel-cell {
        width: 25%; /* half-width */
        height: 50px;
        margin-right: 10px;
    }
}
   
/* Desktop Breakpoint */
@media screen and (min-width: 1240px) {

    body{
        /*font-family: 'Raleway-Medium'; experiment*/
        font-size: 16px;
    }

    .menu-container{
    display: flex;
    flex-wrap: nowrap;
    }

    .logo{
    width: 13em;
    height: 4.5em;
    }

    .cart{
    width: 5em;
    height: 14vh;
    padding: 0px 20px;
    order: 2;
    }

    .hero-banner{
        font-family: 'Raleway-Medium'; /* July 17 */
        text-align: center;
        background-size: 60vh, contain;
        height: 160vh; /* auto and inherit do not work */
        background-position: bottom, bottom;
        background-size: 50vh, contain, contain;
    }

    .hero-banner h6{
    }

    /* Spring/Summer 2016 */
    .hero-banner h1{
    margin-top: 0.5em;
font-size: 0px;
font-size: 5em;
    }

    nav-items li{
        text-decoration-line: none;
        padding: 0em 44px;
        border: 10px double peachpuff;
    }

    /* The HEX code for the links is orange */
    a:link,
    a:visited {
        color: #f98f06f2;
    }

    #updates {
        height: 55vh;
        /*background-image: url();*/
    }

    #about{
        font-family: 'PlayfairDisplay-Italic';
        padding: 3em 1em;
        font-style: italic;
    }

    /* getting more specific */
    #about h2 strong{
        font-family: 'PlayfairDisplay-BoldItalic';
        font-style: bold;
    }

}

/* 
    Questions and problems I ran into:
    What is the reason why nothing is changing? Why does my font-family not change? Why does it not appear as a drop-down list option
    Reason: css is more spcific, read up on specificity.
    If nothing is appearing, the reason is that the css is overwritting the desktop version or tablet view.
*/