__MACOSX/

#ignore project images and final outcome
expectations/
footer.bmp
navigation.bmp

#ignore assets
assets/

# Ignore system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
*[Tt]humbs.db
*.Trashes
.git
.vscode

# Ignore any local machine instalations like npm/yarn/sass because we haven't learned this yet (shh!)
npm packages
node_modules/