__MACOSX/

#ignore project images and final outcome
footer.bmp
navigation.bmp
grid.html

#ignore assets
assets/

# Ignore system files
.DS_Store
._*
.Spotlight-V100
.Trashes
ehthumbs.db
*[Tt]humbs.db
*.Trashes
.git
.vscode


# Ignore any local machine instalations like npm, which uses node and yarn, who also might be based on node or some js library inside node_modules
npm packages
node_modules/

# ignore downloaded zip files/practice code
grid.html

font-awesome-4.7.0